.card {
  width: 100%;
  margin-bottom: 15px;
  border: 1px solid rgba(100, 100, 100, 0.3);
  position: relative; }
  .card .branding {
    text-align: left; }
  .card .card-img-top {
    width: 100%; }
  .card .card-body {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.6);
    width: 100%;
    text-align: left;
    transform: max-height 0.5s;
    max-height: 75px;
    overflow: hidden; }
    .card .card-body .card-body--top-row {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 3px;
      min-height: 35px; }
      .card .card-body .card-body--top-row .price {
        font-weight: bold;
        padding: 0 15px 0;
        font-size: 16px;
        margin-bottom: 0; }
      .card .card-body .card-body--top-row button {
        display: none;
        float: right;
        border-radius: 5px;
        width: 150px;
        background-color: #e4002b;
        box-shadow: 1px 1px rgba(50, 50, 50, 0.5); }
        .card .card-body .card-body--top-row button:hover {
          background-color: #ff3258;
          color: #fff; }
    .card .card-body .card-body--bottom-row {
      height: 0; }
  .card:hover .card-body--top-row button {
    display: block; }
  .card:hover .card-body--bottom-row {
    padding: 0 15px;
    height: 25px; }
